body{
	padding: 0px;
	margin: 0px;
}
.barre{
	
	height: 50px;
	padding: 15px 0px 0px 250px;
	background-color: gray;
	color: white;
	font-size: 20px;
	font-family: cursive;
}
.navbar{
	height: 100%;
	width: 230px;
	position: fixed;
	top: -35px;
	left: 0px;
	background-color:gray ;
	
	transition: 0.5s;
	z-index: 1;
	overflow: hidden;
	padding-top: 100px;

}
.navbar a{
	padding: 20px 8px 20px 32px;
	text-decoration: none;
	font-size: 15px;
	color: white;
	display: block;
	width: 100%;
	left: 0px;
	top: -20px;
	transition: 0.3s;
	font-family: cursive;
}
.navbar a:hover{
color :gray;
background-color: white;
background-size: auto;
}
table{
	
	margin-left: 350px;
	
	margin-top: 75px;
	width: 800px;
	border-color: gray;
	border-collapse: collapse;
	font-size: 20px;
	font-family: cursive;
}
 input{
 	margin-left: 70px;
 	padding: 10px 20px 10px 20px;
 	font-size: 15px;
 	margin-bottom: 10px;


}
label{
	
	margin-left: 20px;
	margin-top: 30px;
}
.btn{
	font-size: 20px;
	font-family: cursive;
	margin-top: 30px;
	margin-left: 0px;
	border: 1px solid ;
	border-radius: 5px;
	background-color: #198754;
	border-color: #198754;
	color: white;
	

}
table p{
	margin-left: 30px;
}
.btn:hover{
	cursor: pointer;
}
#pwd{
	color :gray;
background-color: white;
background-size: auto;
}
.btn:hover{
	background-color: white;
		color : #198754;
		border-color: #198754;
}
